# Exclude files and directories from Git archives (including Packagist)
/.github export-ignore
/.gitattributes export-ignore
/.releaserc.json export-ignore
/codecov.yml export-ignore
/commitlint.config.mjs export-ignore
